<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:src="@{~/bootStrap/css/bootStrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:src="@{~/bootStrap/css/bootStrap-theme.min.css}" rel="stylesheet"  type="text/css"/>
    <script src="/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/course/course.js"type="text/javascript" th:inline="javascript"></script>
    <script src="/js/course/coursePage.js"type="text/javascript" th:inline="javascript"></script>
    <script src="/js/course/addCourse.js"type="text/javascript" th:inline="javascript"></script>
    <script src="/js/course/queryCourse.js"type="text/javascript" th:inline="javascript"></script>
    <title>Title</title>
</head>
<body>
<hr style=" height:2px;border:none;border-top:2px dotted #185598;"/>
<div th:replace="Course/queryCourse::html"></div>
<hr style=" height:2px;border:none;border-top:2px dotted #185598;"/>
<div th:replace="Course/addCourse::html"></div>
<hr style=" height:2px;border:none;border-top:2px dotted #185598;"/>
<div align ="center">
    <span id="resultOfQuery">resultOfQuery</span>
</div>
<div align ="center">
    <button id = "showAll" onclick="ShowAll()">show All</button>
</div>
<hr style=" height:2px;border:none;border-top:2px dotted #185598;"/>
<div align="center">
    <table id="courseTable" >
        <tr>
            <th>courseId</th>
            <th>courseName</th>
        </tr>
        <tbody id="tbody">
        </tbody>
    </table>
</div>
<hr style=" height:2px;border:none;border-top:2px dotted #185598;"/>
<div th:replace="Course/page::html"></div>
</body>
</html>